@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy-Heavy";
  src: url("../assets/fonts/Gilroy-Heavy.ttf");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("../assets/fonts/Gilroy-Light.ttf");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../assets/fonts/Gilroy-Regular.ttf");
}

@layer base {
  .admin-main-div {
    @apply h-[100vh]
        flex
        flex-col
        bg-slate-100;
  }
  .top-bar-div {
    @apply w-full
    bg-slate-500
    flex
    flex-col
    space-y-3;
  }
  .c-div {
    @apply flex
    justify-start
    items-center
    mt-2
    mx-2;
  }
  .c-div p {
    @apply font-ekuzoaBold
    text-[20px]
    text-white;
  }
  .nav-buttons-div {
    @apply flex
    mx-2
    justify-start
    items-center;
  }
  .nav-buttons-div button {
    @apply flex
    items-center
    justify-center
    font-ekuzoaBold
    text-[20px]
    w-20
    text-slate-800
    h-12
    rounded-t-sm
    md:w-40;
  }
  .nav-buttons-div p {
    @apply hidden
    md:block;
  }
  .nav-buttons-div img {
    @apply mx-2;
  }
  .selected {
    @apply bg-slate-400
    transition
    delay-150
    ease-in-out;
  }
  .admin-body-div {
    @apply flex
    w-full;
  }
}
