@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy-Heavy";
  src: url("../assets/fonts/Gilroy-Heavy.ttf");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("../assets/fonts/Gilroy-Light.ttf");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../assets/fonts/Gilroy-Regular.ttf");
}

@layer base {
  .m-d {
    @apply w-full
        h-[100vh]
        flex flex-col
        bg-slate-200;
  }
  .t-d {
    @apply flex
    justify-center
    items-center
    h-24;
  }
  .t-d p {
    @apply font-ekuzoaBold
    text-[40px]
    text-slate-700;
  }
  .d-div {
    @apply w-full
    flex
    flex-col
    justify-evenly
    mt-5
    space-y-10;
  }
  .btn-div {
    @apply flex
    rounded-r-full
    flex-col
    items-center
    justify-center
    
    h-24
    shadow-md;
  }
  .btn-div p {
    @apply font-ekuzoaBold
    text-[50px]
    text-white;
  }
  .btn-div button {
    @apply border 
    w-full
    mx-4
    rounded-r-full
    h-full
    hover:shadow-md;
  }
  .btn-div img {
    @apply h-[50px] w-[50px];
  }
}
