@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy-Heavy";
  src: url("../assets/fonts/Gilroy-Heavy.ttf");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("../assets/fonts/Gilroy-Light.ttf");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../assets/fonts/Gilroy-Regular.ttf");
}

@layer base {
  .n-main-div {
    @apply w-full
        flex
        flex-col;
  }
  .n-top-div {
    @apply w-full
    flex
    justify-start
    items-end
    bg-slate-500
    h-20;
  }
  .t-b-div {
    @apply flex;
  }
  .t-b-div button {
    @apply p-1
    bg-transparent
    w-[50px]
    flex
    justify-center
    items-center;
  }
  .t-b-div img {
    @apply w-5;
  }
  .selected {
    @apply bg-slate-400
    transition
    delay-150
    ease-in-out;
  }
}
