@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy-Heavy";
  src: url("../assets/fonts/Gilroy-Heavy.ttf");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("../assets/fonts/Gilroy-Light.ttf");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../assets/fonts/Gilroy-Regular.ttf");
}

@layer base {
  .n-main-div {
    @apply w-full
        flex
        flex-col;
  }
  .topper-div {
    @apply flex
    flex-col
    w-full;
  }
  .n-top-div {
    @apply w-full
    flex
    flex-col
    justify-between
    items-end
    bg-slate-600
    h-20;
  }
  .t-b-div {
    @apply flex
    w-full;
  }
  .home-div {
    @apply flex
    justify-end
    items-center
     w-full
     mt-2
     mx-2;
  }

  .t-b-div button {
    @apply p-1
    w-[70px]
    flex
    justify-center
    items-center;
  }
  .t-b-div img {
    @apply w-5;
  }
  .selected {
    @apply bg-slate-400
    transition
    delay-150
    ease-in-out;
  }
}
