USE [master]
GO
/****** Object:  Database [hospital]    Script Date: 2/12/2024 4:37:31 PM ******/
CREATE DATABASE [hospital]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hospital', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\hospital.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hospital_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\hospital_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hospital].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hospital]
GO
/****** Object:  Table [dbo].[consultation]    Script Date: 2/12/2024 4:37:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consultation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_assigned] [nvarchar](100) NULL,
	[consultation] [nvarchar](100) NULL,
	[status] [nvarchar](100) NULL,
	[date] [datetime] NULL,
	[patient_name] [nvarchar](100) NULL,
	[patient_id] [int] NULL,
	[temperature] [nvarchar](50) NULL,
	[weight] [nvarchar](50) NULL,
	[heart_rate] [nvarchar](50) NULL,
	[pulse] [nvarchar](50) NULL,
 CONSTRAINT [PK_consultation_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2/12/2024 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](225) NULL,
	[type] [nvarchar](50) NOT NULL,
	[contact] [nvarchar](50) NULL,
	[email] [nvarchar](255) NULL,
	[username] [nvarchar](100) NULL,
	[password] [nvarchar](100) NULL,
	[dateOf] [date] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patient]    Script Date: 2/12/2024 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patient](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[contact] [nvarchar](100) NULL,
	[sex] [nvarchar](100) NULL,
	[dob] [nvarchar](100) NULL,
	[address] [nvarchar](225) NULL,
	[marital_status] [nvarchar](100) NULL,
	[next_of_kin] [nvarchar](100) NULL,
	[date] [datetime] NULL,
	[nID] [nvarchar](100) NULL,
 CONSTRAINT [PK_patient] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[types]    Script Date: 2/12/2024 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[consultation] ADD  CONSTRAINT [DF_consultation_status]  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[consultation] ADD  CONSTRAINT [DF_consultation_date]  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_dateOf]  DEFAULT (getdate()) FOR [dateOf]
GO
ALTER TABLE [dbo].[patient] ADD  CONSTRAINT [DF_patient_date]  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[consultation]  WITH CHECK ADD  CONSTRAINT [FK_consultation_patient] FOREIGN KEY([patient_id])
REFERENCES [dbo].[patient] ([id])
GO
ALTER TABLE [dbo].[consultation] CHECK CONSTRAINT [FK_consultation_patient]
GO
USE [master]
GO
